@model BlogCore.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="row fondoTitulo mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-white bg-secondary py-1 mt-3">Ultimos Cursos y Tutoriales</h1>
    </div>
</div>

@if(Model.ListaArticulos.Count() > 0)
{
    <hr/>
    <div class="row">
        @foreach (var articulo in Model.ListaArticulos.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@articulo.UrlImagen" class="img-thumbnail" width="100%"/>
                    <div class="card-body">
                        <h5 class="text-center">@articulo.Nombre</h5>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-id="@articulo.Id">Mas Informacion</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay articulos</p>
}
