@model Categoria

@{
    ViewData["Title"] = "Editar Categoria";
}

<br />
<br />

<h3 class="text-center">Editar categoria</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="Nombre"><label asp-for="Nombre"></label></label>
                <div class="col-sm-9">
                    <input asp-for="Nombre" class="form-control" id="Nombre" placeholder="Nombre de la Categoria">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="Orden"><label asp-for="Orden"></label></label>
                <div class="col-sm-9">
                    <input asp-for="Orden" class="form-control" id="Orden" placeholder="Orden de Visualizacion" />
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center mb-3">
                <button type="submit" class="btn btn-primary form-control mb-3" asp-route-id="@Model.Id">Actualizar</button>
                <a asp-action="Index" class="btn btn-success form-control">Volver a Lista</a>
            </div>

        </div>
    </div>
</form>