<div class="col-4">
    <button type="submit" class="btn btn-primary form-control">Crear</button>
</div>
                &nbsp;
<div class="col-4">
    <a asp-action="Index" class="btn btn-success form-control">Volver a lista</a>
</div>