@model BlogCore.Models.Slider

@{
    ViewData["Title"] = "Crear Nuevo Slider";
}

<br />
<br />

<h3 class="text-center">Crear un nuevo Slider</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        <div class="col-10 offset-1 mt-4">

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="Nombre" asp-for="Nombre"></label>
                <div class="col-sm-9">
                    <input asp-for="Nombre" class="form-control" id="Nombre" placeholder="Nombre del Articulo">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="Estado" asp-for="Estado"></label>
                <div class="col-sm-9">
                    <input asp-for="Estado">
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" for="subidaArchivo" asp-for="UrlImagen"></label>
                <div class="col-sm-9">
                    <input type="file" name="archivos" class="form-control" id="subidaArchivo" />
                    <span style="font-size:12px">* Es obligatorio seleccionar una imagen</span>
                </div>
            </div>

            <div class="row align-items-center mb-3">
                <partial name="_VistaCrearVolver" />
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var inputArchivo = document.getElementById("subidaArchivo");
            var botonCrear = document.getElementById("BotonCrear");

            botonCrear.disabled = true; // Deshabilitar el botón al cargar la página

            inputArchivo.addEventListener("change", function () {
                if (inputArchivo.files.length > 0) {
                    botonCrear.disabled = false; // Habilitar el botón si se selecciona un archivo
                } else {
                    botonCrear.disabled = true; // Mantener el botón deshabilitado si no hay archivo seleccionado
                }
            });
        });
    </script>
}
