@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out / Bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
    <p class="text-danger">Esta cuenta tiene bloqueado el acceso.</p>
</header>
